body{
    background: linear-gradient(floralwhite, cornsilk);
    background-repeat: no-repeat;
}

header{
    border-bottom-width: thick;
    border-bottom-style: groove;
    text-align: center;
    margin-bottom: 10px;
    background-color: antiquewhite;
}

footer{
    font-size: small;
    text-align: end;
    border-top-width: 2px;
    border-top-style: ridge;
    margin-top: 10px;
}

.container{
    display: flex;
}

.menu{
    flex-grow: 0;
    border: thick ridge lightgray;
    background-color: lightgrey;
    margin: 2px;
}

.menu li{
    list-style-type: none;
    border-top: 1px gray;
    border-bottom: 1px gray;
    border-style: outset;
}

.menu a{
    display: block;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.menu ul{
    margin:0%;
    padding:0%;
}

.menu .selected{
    border-style: inset;
}

.columnMenu{
    display: flex;
    flex-direction: column;
}

.contenu{
    flex-grow: 1;
    border: thin solid lightgray;
    padding: 5px;
    margin: 5px;
}

.contenu img{
    width: 15%;
    display: block;
    margin: auto;
}